@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Montserrat:wght@500;600;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.num-topic {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 700;
    font-size: 10rem;
    color: #F97B22;
    width: 15%;
    height: 100%;
}

.text-topic {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 3.3rem;
    text-transform: uppercase;
    color: #F97B22;
    width: 85%;
    height: 100%;
    text-align: left;
    letter-spacing: .5rem;
    padding-left: 1.2rem;
}

.container-main-topics-text-text {
    width: 75%;
    height: 20%;
    font-size: .8rem;
    letter-spacing: .08rem;
}