@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Montserrat:wght@500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: #FFFCF2;
    overflow-x: hidden;
}

.container-header {
    display: flex;
    height: 9vh;
    width: 100vw;
    background-color: #F97B22;
    position: fixed;
    z-index: 1;
}

.container-header-logo_text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
}

/*
Span é Semi bold
Cor: #FEE8B0
Tamanho: 1.3rem
*/
.container-header-logo_text span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #FEE8B0;
    font-size: 1.3rem;
}

.container-header-navbar {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 80%;
    padding-right: 10rem;
}


.container-header-navbar li {
    list-style: none;
}

/*
Cada link é Semi bold
Cor: #FEE8B0
Tamanho: 1rem
*/
.container-header-navbar li a {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #FEE8B0;
    font-size: 1rem;
    text-decoration: none;
    margin-left: 2rem;
}

/* WELKOMEN */

.container-main-welkomen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
}

.container-main-welkomen-text_area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    width: 50%;
}

.container-main-welkomen-text_area-ajust {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 70%;
    height: 100%;
}

.container-main-welkomen-text_area-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
}

.container-main-welkomen-text_area-title span {
    font-weight: 700;
    color: #F97B22;
    text-transform: uppercase;
    font-size: 3.8rem;
    letter-spacing: .6rem;
    width: 100%;
}

.container-main-welkomen-text_area p {
    width: 100%;
    text-align: left;
    font-weight: 600;
    color: #4C3D3D;
    font-size: .83rem;
    letter-spacing: .05rem;
}

.container-main-welkomen-text_area-text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 25%;
    width: 53%;
}

.container-main-welkomen-text_area-text p {
    text-align: left;
    font-weight: 600;
    color: #4C3D3D;
    font-size: .83rem;
    letter-spacing: .05rem;
}

.welkomen-button {
    height: 5%;
    width: 50%;
    margin-top: 3rem;
    border-radius: .9rem;
    outline: none;
    background: none;
    cursor: pointer;
    color: #F97B22;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: .2rem;
    border: .1rem solid #F97B22;
    transition: all .3s ease-in-out;
}

.welkomen-button:hover {
    background-color: #F97B22;
    border: none;
    color: #FFFCF2;
}

.container-main-welkomen-img_area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.container-main-welkomen-img_area-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
}

.container-main-welkomen-img_area-image img {
    width: 70%;
    object-fit: cover;
    object-position: bottom;
}

.container-main-welkomen-img_area-changes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    width: 100%;
}

.container-main-welkomen-img_area-changes input[type="radio"] {
    display: flex;
    justify-content: center;
    align-items: center;
    border: .15rem solid #4C3D3D;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    background-color: none;
    margin-right: 1.5rem;
    cursor: pointer;
    appearance: none;
}

.container-main-welkomen-img_area-changes input[type="radio"]::after {
    content: "";
    background-color: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    border-radius: 50%;
}

.container-main-welkomen-img_area-changes input[type="radio"]:checked::after {
    content: "";
    background-color: #4C3D3D;
    width: .8em;
    height: .8em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    border-radius: 50%;
}

/* ABOUT */

.container-main-about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.container-main-about-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 70%;
}

.container-main-about-title-title {
    display: flex;
    justify-content: center;
}

.container-main-about-title-title #eight {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20rem;

    color: #FFFCF2;
    text-shadow: 
        8px 0 0 #F97B22, /*right */
        0 8px 0 #F97B22, /*top */
        -8px 0 0 #F97B22, /*left */
        0 -8px 0 #F97B22; /*bottom */
}

@supports (-webkit-text-fill-color: transparent) {
    #eight {
         color: transparent;
    }
}

.container-main-about-title-title-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin-left: 3rem;
}

.container-main-about-title-title-text span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 4.5rem;
    color: #F97B22;
    text-transform: uppercase;
    letter-spacing: .5rem;
    word-spacing: .7rem;
    text-align: left;
}

.container-main-about-text {
    width: 65%;
    height: 10%;
}

.container-main-about-text p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: .9rem;
    text-align: left;
    width: 100%;
}

.container-main-about hr {
    margin-top: 1rem;
    width: 75%;
    height: .25%;
    outline: none;
    border: none;
    background-color: #F97B22;
    color: #F97B22;
}

.topic {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
}

.container-main hr {
    margin-top: 1rem;
    width: 75%;
    height: .25%;
    outline: none;
    border: none;
    background-color: #F97B22;
    color: #F97B22;
}

.container-main-topics-text {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.container-main-topics-images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.container-main-topics-images img {
    width: 70%;
}

.container-main-topics-text-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 96%;
    height: 30%;
}

/* == RESPONSIBILITY == */

/* GALAXY S10 */

@media screen and (min-width: 0) and (max-width: 719px) {

    /* == MAIN AREA == */

    /* Nav bar */
    .container-header-logo_text {
        width: 50%;
    }

    .container-header-logo_text span {
        font-size: 1rem;
        margin-left: 1rem;
    }

    .container-header-navbar {
        justify-content: flex-end;
        width: 50%;
    }

    .container-header-navbar li a {
        font-size: .9rem;
        padding-right: 0;
    }

    /* Main welkomen */

    .container-main-welkomen-text_area {
        width: 90%;
    }

    .container-main-welkomen-text_area p {
        width: 100%;
        text-align: left;
        font-weight: 600;
        color: #4C3D3D;
        font-size: .83rem;
        letter-spacing: .05rem;
    }

    .container-main-welkomen-text_area-title span {
        margin-top: 1rem;
        font-size: 2.5rem;
        letter-spacing: .5rem;
    }

    .container-main-welkomen-img_area {
        display: none;
    }

    .welkomen-button {
        font-size: .95rem;
        width: 65%;
        height: 7%;
        margin: 0;
        padding: 0;
        margin-top: 2rem;
        margin-right: 7.1rem;
    }
}

/* KINDLE */
@media screen and (min-width: 720px) and (max-width: 1279px) {

    /* == MAIN AREA == */

    /* Nav bar */
    .container-header-logo_text {
        width: 40%;
    }

    .container-header-logo_text span {
        width: 100%;
        font-size: 1.5rem;
        text-align: center;
        margin: 0;
    }

    .container-header-navbar {
        justify-content: flex-end;
        width: 60%;
    }

    .container-header-navbar li a {
        font-size: 1.4rem;
        padding: 0;
        margin-left: 4rem;
    }

    /* Main welkomen */

    .container-main-welkomen-text_area {
        width: 100%;
    }

    .container-main-welkomen-text_area p {
        width: 80%;
        text-align: left;
        font-weight: 600;
        color: #4C3D3D;
        font-size: .9rem;
        letter-spacing: .05rem;
    }

    .container-main-welkomen-text_area-title {
        margin: 0;
        padding: 0;
    }

    .container-main-welkomen-text_area-title span {
        height: 60%;
        width: 80%;
        margin-top: 1rem;
        font-size: 5rem;
        letter-spacing: .5rem;
    }

    .container-main-welkomen-img_area {
        display: none;
    }

    .welkomen-button {
        border: .15rem solid #F97B22;
        font-size: 2rem;
        width: 45%;
        height: 5%;
        margin: 0;
        margin-top: 1rem;
        padding: 0;
        margin-right: 17.5rem;
        margin-top: 3rem;
    }
}