@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 200vh;
}

.container-infos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 60%;
    height: 100vh;
    margin-top: 3rem;
}

.container-text h1 {
    font-weight: 700;
    font-size: 2rem;
    word-spacing: .1em;
}

.container-text p {
    color: #3d3d3d;
    font-weight: 300;
    font-size: .9rem;
}

.container-poster {
    width: 100%;
    height: 50vh;
}

.poster {
    align-self: flex-start;
    top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    background-image: url(../img/saudavel.jpg);
    position: absolute;
}

.poster::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
}

.poster h2 {
    z-index: 1;
    color: #fff;
    font-weight: 600;
    font-size: 9rem;
    letter-spacing: .5em;
    text-transform: uppercase;
    user-select: none;
}

.poster h3 {
    z-index: 1;
    color: #ececec;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: .1em;
    margin-top: -1rem;
    user-select: none;
}

.nav-bar {
    align-self: flex-start;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 8.7vh;
}

.nav-bar h2 {
    color: #3d3d3d;
    font-weight: 800;
    letter-spacing: .1em;
    padding-left: 1rem;
}