@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-bg: #fff;
    --primary-text: #3d3d3d;;
}

/* Aplicação do tema escuro */

.dark-theme {
    --primary-bg: #131313;
    --primary-text: #fff;
}

body {
    background-color: var(--primary-bg);
    height: 200vh;
}

.container-infos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 60%;
    height: 100vh;
    margin-top: 3rem;
}

.container-text h1 {
    color: var(--primary-text);
    font-weight: 700;
    font-size: 2rem;
    word-spacing: .1em;
}

.container-text p {
    color: var(--primary-text);
    font-weight: 300;
    font-size: .9rem;
}

.container-poster {
    width: 100%;
    height: 50vh;
}

.poster {
    align-self: flex-start;
    top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    background-image: url(../img/saudavel.jpg);
    position: absolute;
}

.poster::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
}

.poster h2 {
    z-index: 1;
    color: #fff;
    font-weight: 600;
    font-size: 9rem;
    font-weight: 700;
    letter-spacing: .5em;
    text-transform: uppercase;
    user-select: none;
}

.poster h3 {
    z-index: 1;
    color: #ececec;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: .1em;
    margin-top: -1rem;
    user-select: none;
}

.nav-bar {
    align-self: flex-start;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 8.7vh;
}

.nav-bar h2 {
    color: var(--primary-text);
    font-weight: 800;
    font-size: 2rem;
    letter-spacing: .1em;
    text-transform: uppercase;
    user-select: none;
}

.site-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}

.site-title span {
    color: #de4848;
    font-size: 3.3rem;
    font-weight: 600;
    user-select: none;
}

.site-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    width: 70%;
    height: 100%;
}

.site-links a {
    color: var(--primary-text);
    list-style: none;
    text-decoration: none;
    margin-left: 1.4rem;
    font-size: 1rem;
    font-weight: 500;
}

.site-links a:hover {
    color: #de4141;
}

.site-dark-mode {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
}

.site-dark-mode img {
    width: 20%;
    cursor: pointer;
}